<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269209479871-i2herlk3bnruiuln9arnoohgla21obej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269209479871-i2herlk3bnruiuln9arnoohgla21obej</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ5TJhD9lAZbo_9kZkobIdPiMssDSJzdw</string>
	<key>GCM_SENDER_ID</key>
	<string>269209479871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zappit.GeoOffersSampleApp</string>
	<key>PROJECT_ID</key>
	<string>zappit-rewards</string>
	<key>STORAGE_BUCKET</key>
	<string>zappit-rewards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269209479871:ios:3189aef26ccd1ba4</string>
	<key>DATABASE_URL</key>
	<string>https://zappit-rewards.firebaseio.com</string>
</dict>
</plist>